body {
    color: black;
    background-image: url(https://i.nfhost.me/images/2019/01/15/anime-landscape-waterfall-cloud-5k-mq.jpg);
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    background-size: cover;
}
* {
    margin: 0px;
    padding: 0px;
}
.picture-logo {
    margin-left: 46.5%;
    text-decoration: none;
    text-align: center;
}
.wideo {
    margin-left: 37%;
}
