body {
    color: black;
    background-image: url(https://i.nfhost.me/images/2019/01/15/anime-landscape-waterfall-cloud-5k-mq.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.picture-logo {
    margin-left: 45%;
}
.wideo {
    margin-left: 35%;
}
